*{margin: 0; padding: 0; box-sizing: border-box}
.modalCalendar{
    display: none;
}
@media (min-width: 1024px) {
    .calendar{
        top: 33%;
        left: 60%;
    }
}
@media (max-width: 1023px) {
    .calendar{
        top: 33%;
        left: 50%;
        transform: translateX(-50%);
    }
}
.calendar{
    position: fixed;
    width: 305px;
    height: 315px;
    background: #fff;
    border-radius: 6px;
    padding: 22px 35px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.blockTitle{
    font-family: Arial !important;
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 0;
}
.calendar-top{
    display: flex;
    justify-content: space-between !important;
    font-weight: 700;
    font-size: 12px;
    font-family: Arial !important;
    margin-bottom: 5px;
}
.month{
    flex-wrap: nowrap;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.month span{
    font-family: Arial !important;
    font-size: 13px;
    font-weight: 700;
}
.month i:first-child{
    margin-right: 5px;
    cursor: pointer;
}
.month i:last-child{
    margin-left: 5px;
    cursor: pointer;
}
.setYear{
    width: 60px;
    margin: 0 !important;
}
.cal{
    width: 100%;
}
.days{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.days div{
    width: 25px;
    height: 25px;
    cursor: pointer;
    padding: 2px;
    font-family: Arial !important;
}
.prev-date, .next-date{
    color: #ccc;
}
.today{
    background: #1183C84D;
}
.days span{
    font-family: Arial !important;
}
.time{
    display: flex;
    width: 130px;
    justify-content: space-between;
    font-family: Arial !important;
    font-weight: 700;
    align-items: center;
}
.time input{
    width: 90px;
    padding: 0;
    margin: 0 !important;
}
.buttons{
    display: flex;
    justify-content: space-between;
}
.activate, .cancel{
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-size: 10px;
    color: #fff;
    font-weight: 700;
    font-family: Arial !important;
    padding: 8px 0 7px 0;
}
.activate{
    background: #1183C8;
}
.cancel{
    background: #C4C4C4;
}

.modalCalendar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
    background: rgba(0, 0, 0, 0.4);
}
.im-bar-mode{
    position: relative;
}